html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #998235;
}

button {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(10, 120, 47);
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: 75rem;
  margin-bottom: 2rem;
}

button:hover {
  color: red;
}
